/**
    Title: berryhill-palindrome.css
    Author: Nolan Berryhill
    Date: 04 June 2023
    Description: css files for week 2
*/

/** 
Color and background color for h1
*/ 

h1 {
    border: none;
    background: none;
    color: black;
}

/** 
Text align and font size for card title
*/ 

.card-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

/** 
Text align and margin for card
*/ 

.card{
    margin: auto;
    text-align: center;
    width: 90%;
    padding: 5px;
}

/** 
Width for form field
*/

.form-field {
    width: 100%;
}

/** 
Color and background color for btnCheckPhrase
*/ 

#btnCheckPhrase  {
    background-color: #4F3674;
    color: white;
}

/** 
Align text for assign results header
*/ 

#assign-results-header{
    text-align: left;
}

/** 
Width and height for assign results text
*/ 

#assign-results  {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}