/**
    Title: berryhill-future-value.css
    Author: Nolan Berryhill
    Date: 02 July 2023
    Description: CSS for the HTML
*/

/** 
Text, font style, bottom margin for app-header
*/

.app-header {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    background-color: initial;
    border: none;
}

/**
Text style for card
*/

.card {
    text-align: center;
}

/**
Text style for card title
*/

.card-title {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

/**
font style for form field
*/

.form-field {
    text-align: center;
}

/**
font style for danger
*/

.danger {
    text-align: center;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}